<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start" style="font-size: 14px;">
            <ion-back-button text="" icon="chevron-back"></ion-back-button>RESET PASSWORD
        </ion-buttons>
    <!-- <ion-title>RESET PASSWORD</ion-title> -->
  </ion-toolbar>
</ion-header>

<ion-content>
    <form #form="ngForm" (ngSubmit)="reset(form)" method="post">
        <ion-item>
            <ion-icon slot="start" name="lock-closed"></ion-icon>
            <ion-label position="floating">Current Password</ion-label>
            <ion-input ngModel type="password" name="oldpass"></ion-input>
        </ion-item>
        <ion-item>
            <ion-icon slot="start" name="lock-closed"></ion-icon>
          <ion-label position="floating">New Password</ion-label>
          <ion-input ngModel type="password" name="newpassword"></ion-input>
        </ion-item>
        <ion-item>
            <ion-icon slot="start" name="lock-closed"></ion-icon>
          <ion-label position="floating">Verify New Password</ion-label>
          <ion-input  ngModel  type="password" name="repassword"></ion-input>
        </ion-item>
        <ion-row>
            <ion-col col-4></ion-col>
            <ion-col col-4>  <ion-button type="submit"  color="warning">CHANGE PASSWORD</ion-button></ion-col>
          <ion-col col-4></ion-col>
          </ion-row>
      </form>

</ion-content>
